.homeHeader_banner {
  width: 100%;
  height: 500px;
  background: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.homeHeader_banner_content{
  display: flex;
  align-items: center;
  height: inherit;
  color: #000;
  background-color: rgba(225,253,255,.178);
  width: 100%;
  padding-bottom: 50px;
}

.banner_text {
  width: 700px;
  margin-left: 17vw;
  font-size: 38px;
  line-height: 45px;
  margin-top: 5px;
}

.banner_text h3 {
  font-size: 38px;
  line-height: 45px;
  font-family: NanumSquareRound,sans-serif;
  font-weight: 500;
  margin-top: 5px;
}

.banner_text h1 {
  display: block;
  font-size: 1.6em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.banner_text h4 {
  font-weight: 400;
  margin-top: 20px;
  font-size: 22px;
  font-family: Roboto,sans-serif;
}
