.homeHeader_banner {
  width: 100%;
  height: 500px;
  background: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.homeHeader_banner_content{
  display: flex;
  align-items: center;
  height: inherit;
  color: #000;
  background-color: rgba(225,253,255,.178);
  width: 100%;
  padding-bottom: 50px;
}

.homeHeader_banner_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 200px;
}

.banner_text {
  margin-left: 17vw;
  line-height: 45px;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 1s ease, transform 0.5s ease;
}

.banner_text.show {
  opacity: 1;
  transform: translateX(0);
}

.banner_text.show h3 {
  font-size: 38px;
  font-family: NanumSquareRound,sans-serif;
  font-weight: 500;
}

.banner_text.show h1 {
  font-size: 55px;
  margin-top:25px;
  margin-bottom:25px;
  font-weight: bolder;
}

.banner_text.show h4 {
  font-weight: 400;
  font-size: 22px;
  font-family: Roboto,sans-serif;
}
