.navbar-mobile {
    display: flex;
    align-items: center;
    min-height: 60px;
    width: 100%;
    font-family: Pretendard-Regular,sans-serif;
    z-index: 9999999;
}

.navbar-mobile-logo {
    margin-left: 20px;
    cursor: pointer;
    width: 200px;
}

.logo-container {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
    max-width: 100%;
}

.logo-container span {
    box-sizing: border-box;
    display: block;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

.logo-container span img {
    display: block;
    max-width: 100%;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.navbar-logo-img {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.mobile-menu-icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

.mobile-login {
    padding: 4px;
    border-radius: 4px;
    background-color: #efefef;
    border: 1.5px solid #777;
    margin-right: 15px;
    font-size: 16px;
    display: inline-block;
    word-break: keep-all;
    text-align: center;
    font-family: Pretendard-Regular,sans-serif;
}

.menu-icon {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.mobile-nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 0;
    transition: left 0.7s ease, opacity 0.7s ease;
    justify-content: flex-start;
    color: #fff;
    font-family: Pretendard-Regular,sans-serif;
    font-size: 15px;
    text-align: center;
    background: rgba(51, 50, 50, 0);
}

.mobile-nav-menu.active {
    background: rgba(51,50,50,.98);
    left: 0;
    opacity: 1;
    transition: left 0.7s ease, opacity 0.7s ease;
    z-index: 1;
}

.mobile-nav-title {
    border-bottom: 2px solid #555;
    cursor: pointer;
    padding: 15px 0 15px 12px;
}

.down-arrow-icon .up-arrow-icon {
    user-select: none;
    width: 0.8em;
    height: 0.8em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    padding-top: 5px;
}

.mobile-nav-title-selected {
    background: #222;
}

.mobile-nav-item {
    padding: 11px 0;
    border-bottom: 1px solid rgba(68,68,68,.589);
    cursor: pointer;
    font-size: 15px;
}

/**************** mobile query ************/

@media screen and (max-width: 420px) {
    .mobile-login {
        width: 100px;
        font-size: 6px;
        padding: 2px 0;
        font-weight: 700;
        line-height: 11px;
        margin-right: 5px;
    }
}