.navbar-mobile {
    display: flex;
    align-items: center;
    min-height: 60px;
    background-color: white;
    width: 100%;
    font-family: Pretendard-Regular,sans-serif;
    z-index: 10000000;
}

.navbar-mobile-logo-container {
    margin-left: 80px;
    cursor: pointer;
    flex: 1; 
    display: flex; 
    align-items: center;
}

.navbar-logo-img {
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: 0;
    display: block;
    width: auto;
    max-height: 60px;
}

.mobile-menu-icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    color: black;
}

.mobile-login {
    padding: 4px;
    border-radius: 4px;
    background-color: #efefef;
    border: 1.5px solid #777;
    margin-right: 15px;
    font-size: 16px;
    display: inline-block;
    word-break: keep-all;
    text-align: center;
    font-family: Pretendard-Regular,sans-serif;
}

.menu-icon {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.mobile-nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 0;
    transition: left 0.7s ease, opacity 0.7s ease;
    justify-content: flex-start;
    font-family: Pretendard-Regular,sans-serif;
    text-align: center;
}

.mobile-nav-menu.active {
    background: rgba(51,50,50,.98);
    left: 0;
    opacity: 1;
    transition: left 0.7s ease, opacity 0.7s ease;
    z-index: 10000000;
}

.mobile-nav-title {
    border-bottom: 2px solid #555;
    cursor: pointer;
    padding: 10px 0 10px 12px;
    background: rgba(51,50,50,.98);
    color: #fff;
    font-size: 15px;
}

.down-arrow-icon,
.up-arrow-icon {
    user-select: none;
    width: 0.8em;
    height: 0.8em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    padding-top: 5px;
    padding-left: 10px;
}

.mobile-nav-title-selected {
    background: #222;
}

.mobile-nav-item {
    padding: 11px 0;
    border-bottom: 1px solid rgba(68,68,68,.589);
    cursor: pointer;
    font-size: 15px;
    color: #fff;
}

/**************** mobile query ************/

@media screen and (max-width: 420px) {

.mobile-login {
    width: 100px;
    font-size: 6px;
    padding: 2px 0;
    font-weight: 700;
    line-height: 11px;
    margin-right: 5px;
}
}

@media screen and (min-width: 320px) and (max-width: 550px) {

.navbar-mobile-logo-container {
    margin-left: 20px;
}
}

@media screen and (min-width: 551px) and (max-width: 650px) {

.navbar-mobile-logo-container {
    margin-left: 60px;
}
}