
/*****************Navbar *************/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(89, 1, 0);
  height: 80px;
  padding: 0 20px;
  border-bottom: 1px solid black;
}

#logo {
  width: auto; 
  height: 80px; 
  margin-left: 200px;
}

.navbar a:first-child {
  float: left;
  margin-right: auto;
}

.navbar a:not(:first-child) {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 25px 16px 20px 16px;
  float: right;
  margin-left: 15px;
  position: relative;
  text-decoration: none;
  height: 80px;
}

.navbar a:nth-child(n + 3)::before {
  content: "";
  display: block;
  position: absolute;
  left: -8px; 
  top: 30px; 
  height: 18px; 
  width: 3px;
  background-color: rgb(87, 87, 87);
  border: none;
}

.navbar a:hover {
  color: red;
}

/***************** Dropdown *************/

.dropdown-content {
  position: absolute;
  background-color: white;
  width: 100vw;
  z-index: 999;
  top: 79px;
  left: 0;
  height: 250px;
  border-top: 2px solid red; 
  border-bottom: 1px solid red; 
  cursor: default;
  opacity: 0;
}

.dropdown {
  display: grid;
  grid-template-columns: .4fr 1fr; 
  align-items: center;
  padding-left: 200px;
  height: 250px;
}

.dropdown-content {
  display: block;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  display: block;
}

/***************** Left Content *************/

.content-left {
  display: grid;
  grid-template-columns: 1fr; 
  justify-items: end;
  padding: 12px 30px 23px 20px;
  margin-bottom: 4px; 
  background-color: rgb(241, 241, 241);
  margin-left: 15%;
  height: 247px;
}

#logo2 {
  width: 130px;
  height: auto;
  margin: 0;
  padding: 0;
  justify-self: end;
}

.content-left p {
  margin: 0;
  line-height: 0.3;
  position: relative;
}

.content-left p::after {
  content: '';
  position: absolute;
  top: 0;
  right: 2px; 
  height: 100%;
  width: 3px;
  background-color: red;
}

.content-left h3 {
  font-size: 25px;
  color: black;
  line-height: 1.5;
}

/***************** Right Content *************/

.content-right {
  flex: 3;
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  margin-left: 10px;

}

.right-line {
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;
}

.right-line p {
  width: 140px;
  text-align: left;
  font-size: large;
  font-weight: 600;
}

#first-orange {
  color: orange;
}

#line-1::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 1100px; 
  height: 1px;
  background-color: red;
}

#line-2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 1100px; 
  height: 1px;
  background-color:  rgb(233, 228, 228);
}

.right-line p::after {
  content: '';
  position: absolute;
  top: 16px;
  left: 140px;
  height: 25px;
  width: 2px;
  background-color: orangered;
  visibility: visible;
  border: none;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: relative;
  padding-left: 30px;
  font-size: large;
  font-weight: 600;
}

.links a:first-child {
  color: black;
  margin-right: 15px;
}

.links a:before {
  content: "";
  display: block;
  position: absolute;
  left: -16px;
  top: 30px;
  height: 18px;
  width: 3px;
  background-color: rgb(233, 228, 228)!important;
  border: none;
}

.links a:nth-child(1)::before {
  content: none;
  position: absolute;
}

.links a {
  text-decoration: none;
  font-size: 18px;
  color: black!important;
}

.links a:hover {
  color: orange!important;
}

/***************** Media Query Phone *************/

@media screen and (min-width: 769px) and (max-width: 1024px) {

.navbar {
  padding: 0 10px; 
  height: 100%;
}

.navbar a:not(:first-child) {
  height: 80%;
  font-size: 13px;
  margin-left: 5px;
}

.navbar a:nth-child(n + 3)::before {
  left: -5px;
  height: 18px; 
  width: 3px;
  background-color: rgb(233, 228, 228);
}

#logo {
  margin-left: 10px;
}

.dropdown-content {
  top: 72px;
  height: 220px;
}

.dropdown {
  padding-left: 0px;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  display: block;
}

.content-left {
  padding: 10px 20px 10px 0px;
  margin-bottom: 68px; 
  height: 217px;
  margin-left: 0px;
}

#logo2 {
  width: 100px;
}

.content-left p {
  margin: 0;
  padding: 0 8px 0 0;
  line-height: 1.3;
  font-size: 13px;
}

.content-left h3 {
  font-size: 20px;
  line-height: 1.8;
}

.content-right {
  margin-left: 7px;
  height: 150px;
  margin-bottom: 130px;
}

.right-line p {
  width: 110px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  padding-left: 15px;
}

.right-line p::after {
  top: 12px;
  left: 100px;
  height: 25px;
}

.links {
  padding-left: 10px;
}

.links a:first-child {
  color: black;
  margin-right: 15px;
}

.links a {
  text-decoration: none;
  font-size: 13px;
}

.links a:before {
  left: -14px;
}
}

@media screen and (min-width: 769px) and (max-width: 878px) {

  .navbar a:not(:first-child) {
    top: 3px;
    padding: 23px 11px 25px 11px;
  }

  .navbar a:nth-child(n + 3)::before {
    top: 24px; 
  }

  .links a:before {
    top: 24px;
  }

  .right-line {
    height: 54px;
  }
}

@media screen and (min-width: 879px) and (max-width: 1024px) {

  .navbar a:not(:first-child) {
    top: 5px;
    padding: 26px 11px 30px 11px;
  }

  .navbar a:nth-child(n + 3)::before {
    top: 26px; 
  }

  .right-line {
    height: 55px;
  }

  .links a:before {
    top: 26px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {

.navbar {
  padding: 0 10px; 
  height: 100%;
}

.navbar a:not(:first-child) {
  padding: 20px 11px 28px 11px;
  height: 90%;
  font-size: 17px;
  margin-left: 5px;
}

.navbar a:nth-child(n + 3)::before {
  left: -5px; 
  top: 25px; 
  height: 18px; 
  width: 3px;
  background-color: rgb(233, 228, 228);
}

#logo {
  margin-left: 10px;
}

.dropdown-content {
  top: 72px;
  height: 250px;
}

.dropdown {
  padding-left: 0px;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  display: block;
}

.content-left {
  padding: 10px 20px 10px 0px;
  margin-bottom: 55px; 
  height: 247px;
  margin-left: 0px;
}

#logo2 {
  width: 100px;
}

.content-left p {
  margin: 0;
  padding: 0 8px 0 0;
  line-height: 1.5;
  font-size: 17px;
}

.content-left h3 {
  font-size: 23px;
  line-height: 1.6;
}

.content-right {
  margin-left: 10px;
  height: 150px;
  margin-bottom: 145px;
}


.right-line p {
  width: 130px;
  text-align: left;
  font-size: 17px;
  font-weight: 600;
}

.right-line p::after {
  top: 16px;
  left: 120px;
  height: 25px;
}

.links {
  padding-left: 13px;
}

.links a:first-child {
  color: black;
  margin-right: 15px;
}

.links a {
  text-decoration: none;
  font-size: 17px;
}

.links a:before {
  left: -14px;
  top: 25px;
}
}

@media screen and (min-width: 1441px) and (max-width: 1650px) {
  .dropdown {
    padding-left: 50px;
  }
}