
/*****************Navbar *************/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 80px;
  padding: 0 20px;
  border-bottom: 1px solid black;
}

.navbar a:not(:first-child) {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 20px 16px;
  float: right;
  margin-left: 15px;
  position: relative;
  text-decoration: none;
  height: 100%;
}

#logo {
  width: 220px; 
  height: auto; 
  margin-left: 80px;
}

.navbar a:first-child {
  float: left;
  margin-right: auto;
}

.navbar a:nth-child(n + 3)::before {
  content: "";
  display: block;
  position: absolute;
  left: -8px; 
  top: 24px; 
  height: 18px; 
  width: 3px;
  background-color: rgb(233, 228, 228);
  border: none;
}

.navbar a:hover {
  color: red;
}

/***************** Dropdown *************/

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100vw;
  z-index: 1;
  top: 79px;
  height: 300px;
  border-top: 1px solid red; 
  border-bottom: 1px solid red; 
}

#dropdown-content1 {
  margin-left: -925px;
}

#dropdown-content2 {
  margin-left: -1078px;
}

#dropdown-content3 {
  margin-left: -1205px;
}

#dropdown-content4 {
  margin-left: -1332px;
}

#dropdown-content5 {
  margin-left: -1459px;
}

#dropdown-content6 {
  margin-left: -1566px;
}

.navbar a:hover .dropdown-content {
  display: block;
  animation: fadeIn 0.7s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-content p:hover {
  display: block;
  opacity: 1;
}

.dropdown {
  display: flex;
}

/***************** Left Content *************/

#logo2 {
  width: 150px;
  height: auto;
}

.content-left {
  flex: 1;
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; 
  align-items: flex-end; 
  padding: 10px 30px 32px 10px; 
  background-color: rgb(241, 241, 241);
  margin-left: 15%;
  margin-bottom: 5px;
}

.content-left p {
  margin: 0;
  line-height: 0.5;
  position: relative;
}

.content-left p::after {
  content: '';
  position: absolute;
  top: 0;
  right: 2px; 
  height: 100%;
  width: 3px;
  background-color: red;
}

.content-left h3 {
  font-size: 25px;
  color: black;
  line-height: 1.5;
}

/***************** Right Content *************/

.content-right {
  flex: 3;
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  margin-left: 25px;
  height: 300px;
}

.right-line {
  display: flex;
  align-items: center;
  position: relative;
  height: 49.6px;
}

.right-line p {
  width: 140px;
  text-align: left;
}

#first-orange {
  color: orange;
}

#line-1::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 1100px; 
  height: 1px;
  background-color: red;
}

#line-2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 1100px; 
  height: 1px;
  background-color:  rgb(233, 228, 228);
}

.right-line p::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 140px;
  height: 25px;
  width: 2px;
  background-color: orangered;
  visibility: visible;
  border: none;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: relative;
  padding-left: 30px;
}

.links a:first-child {
  color: black;
  margin-right: 15px;
}

.links a::before {
  /* Add a separator before all links except the first one */
  content: "";
  display: block;
  position: absolute;
  left: -16px;
  top: 24px;
  height: 18px;
  width: 3px;
  background-color: rgb(233, 228, 228);
  border: none;
}

.links a:nth-child(1)::before {
  /* Remove separator for the first link */
  content: none;
  position: absolute;
}

.links a {
  text-decoration: none;
  font-size: 18px;
}

.links a:hover {
  color: orange;
}