/* Reset box-sizing for all elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Style for the distributed footer content */
.footer-distributed {
  background-color: #292c2f;
  box-sizing:border-box;
  width:100%;
  text-align: left;
  font: 700 16px sans-serif;
  padding: 25px 60px;
  margin-top: 80px;
}

/* Style for footer sections */
.footer-center,
.footer-left,
.footer-right {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px; /* Adjust the margin as needed */
}

.footer-center .icon,
.footer-left p,
.footer-right p {
  margin-bottom: 15px; /* Adjust the margin as needed */
}

/* Style for footer headings */
footer h3 {
  color: #c9ced4;
  font: normal 36px Do Hyeon;
  letter-spacing: 2px;
}

/* Style for footer info text */
.footer-info {
  margin-top: 20px;
  font-size: 12px;
  color: #8f9296;
  padding-bottom: 5px;
}

/* Style for footer company name */
.footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: 400;
}

/* Style for the center section of the footer */
.footer-center {
  width: 35%;
}

/* Style for footer center icons */
.footer-center .icon {
  display: inline-block;
  background-color: #33383b;
  padding: 3px;
  border-radius: 50%;
  font-size: 12px;
  color: #8f9296;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
}

/* Style for the right section of the footer */
.footer-right {
  width: 20%;
}

/* Style for footer company about section */
.footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  word-break: keep-all;
}

/* Style for the footer company about span */
.footer-company-about span {
  display: block;
  color: #b2b7be;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}

