* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  width:100%;
  text-align: center;
  font: 700 16px sans-serif;
  padding: 5% 1%;
  margin-top: 80px;
}

.footer-center,
.footer-left,
.footer-right {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  line-height: 0;
}

.footer-left p,
.footer-right p {
  margin-bottom: 15px;
}

footer h3 {
  color: #c9ced4;
  font: normal 36px Do Hyeon;
  letter-spacing: 2px;
}

.footer-info {
  margin-top: 20px;
  font-size: 20px;
  color: #8f9296;
  padding-bottom: 5px;
  text-align: left;
  line-height: 1;
}

.footer-company-name {
  color: #8f9296;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  padding: 10px 0px;
}

.footer-center {
  width: 35%;
  color: #8f9296;
}

.footer-center .icon {
  display: inline-block;
  background-color: #33383b;
  padding: 3px;
  border-radius: 50%;
  color: #8f9296;
  width: 30px;
  height: 30px;
  margin: -9px 15px;
}

.footer-center p {
  line-height: 0.5;
  font-size: 18px;
}

.email {
  color: #5383d3;
}

.footer-right {
  width: 16%;
}

.footer-company-about {
  line-height: 1;
  color: #92999f;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  word-break: keep-all;
  text-align: left;
}

.footer-company-about span {
  display: block;
  color: #b2b7be;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}

@media (max-width: 1150px){
  .footer-distributed {
    padding: 20px;
    text-align: center;
    line-height: 0;
  }
  .footer-distributed .footer-center, .footer-distributed .footer-left, .footer-distributed .footer-right {
    display: block;
    width: 100%;
    text-align: center;
  }
  .footer-left {
    margin: 0px;
  }

  .footer-info {
    text-align: center;
    padding-bottom: 0px;
    line-height: 2;
  }

  .footer-company-name {
    text-align: center;
  }
  .footer-center p {
    margin-right: 50px;
    line-height: 2;
  }
  .footer-company-about{
    margin-right: 20px;
    line-height: 2;
  }
}

@media (max-width: 280px){
  .footer-distributed {
    padding: 10px;
  }
  .footer-left {
    margin: 0px;
  }

  .footer-info {
    text-align: center;
    padding-bottom: 0px;
    font-size: 11px;
    line-height: 1;
  }

  .footer-company-name {
    font-size: 11px;
    line-height: 1;
  }
  .footer-center p {
    font-size: 11px;
    line-height: 1;
  }
  .footer-company-about{
    margin-right: 5%;
    font-size: 11px;
    line-height: 1;
  }
}