footer {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: 700 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer-left {
  width: 40%;
}

.footer-center, .footer-left, .footer-right {
  display: inline-block;
  vertical-align: top;
}

h3 {
  color: #c9ced4;
  font: normal 36px Do Hyeon;
  letter-spacing: 2px;
  margin: 0;
}
.footer-info {
  margin-top: 20px;
  font-size: 12px;
  color: #8f9296;
  padding-bottom: 5px;
}

.footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.footer-center {
  width:35%;
}

.footer-center .icon {
  display: inline-block;
  background-color: #33383b;
  padding: 3px;
  border-radius: 50%;
  font-size: 12px;
  color: #8f9296;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
}

.footer-right {
  width:20%;
}

.footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  word-break: keep-all;
}

.footer-company-about span {
  display: block;
  color: #b2b7be;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

* {
  box-sizing: border-box;
}
