.gallery_container_container{
}
.gallery_title {
  padding-top: 70px;
  text-align: left;
}
.gallery_container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryimg_container {
  width: 80vw;
  height: 600px;
  background-color: #fff;
  box-shadow: 1px 1px 5px #333;
}

.gallery_buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: -55px;
  margin-right: 20px;
}

.gallery_button {
  background-color: rgba(255, 0, 0, 0);
  border:0;
  border-radius: 100px;
  background-image: none;
  background-size: 5px;
  font-size: 38px;
  max-width: 100%;
  width: 35px;
  height: auto;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}

.galleryimg {
  object-fit: contain;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 1s;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overflow-clip-margin: content-box;
  overflow: clip;
}

@media (max-width: 912px) {
  .galleryimg_container {
    width: 95vw;
    height: 600px;
  }
}

@media (max-width: 414px) {
  .gallery_container {
    padding: 40px 0px 0px 0px;
  }
  
  .galleryimg_container {
    width: 95vw;
    height: 500px;
  }

  .gallery_buttonContainer {
    margin-top: -40px;
    margin-right: 5px;
  }

  .gallery_button {
    font-size: 30px;
    width: 30px;
    margin-right: 10px;
  }
}