.video-container {
  width: 100vw;
  height: 70vh;
  cursor: pointer;
  transition: 3s;
}

iframe {
  width: 100% !important;
  height: 400px !important;
  z-index: 1 !important;
  cursor: pointer !important;
}

.video-video {
  position:relative;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  cursor: pointer;
  transform-origin: top center;
  will-change: transform;
  transition: transform 2s ease;
  transform: scaleY(0.5) translateZ(0);
}

.video-container.hovered .video-video {
  transform: scaleY(1) translateZ(0);
}

@media (max-width: 386px) {
  .video-container {
    height: 50vh;
  }
}
