.page-container {
  display: flex;
  flex-direction: column;
  min-height:100vh;
  overflow:auto;
}

.video-section {
  max-width: 100vw;
  text-align: center;

}

@media (min-width: 2000px) {
  .page-container {
    padding-left: 10%; /* Adjust the padding value as needed */
    padding-right: 10%; /* Adjust the padding value as needed */
  }
}