.video-container {
  padding-top: 300px;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  transition: 3s;
}

.video-frame iframe {
  width: 100%;
  height: 600px;
  z-index: 1;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .video-container {
    height: 118vh;
  }
  iframe {
    height: 800px !important;
  }
}

@media (max-width: 1024px) {
  .video-container {
    height: 130vh;
  }
  iframe {
    height: 750px !important;
  }
}

@media (max-width: 912px) {
  .video-container {
    height: 50vh;
  }
  iframe {
    height: 650px !important;
  }
}

@media (max-width: 820px) {
  .video-container {
    height: 58vh;
  }
  iframe {
    height: 650px !important;
  }
}

@media (max-width: 768px) {
  .video-container {
    height: 67vh;
  }
  iframe {
    height: 650px !important;
  }
}

@media (max-width: 540px) {
  .video-container {
    height: 70vh;
  }
  iframe {
    height: 500px !important;
  }
}

@media (max-width: 414px) {
  .video-container {
    height: 55vh;
  }
  iframe {
    height: 450px !important;
  }
}

@media (max-width: 412px) {
  .video-container {
    height: 53vh;
  }
  iframe {
    height: 450px !important;
  }
}

@media (max-width: 393px) {
  .video-container {
    height: 58vh;
  }
  iframe {
    height: 450px !important;
  }
}

@media (max-width: 375px) {
  .video-container {
    height: 72vh;
  }
}

@media (max-width: 360px) {
  .video-container {
    height: 65vh;
  }
  iframe {
    height: 450px !important;
  }
}

@media (max-width: 280px) {
  .video-container {
    height: 70vh;
  }
  iframe {
    height: 400px !important;
  }
}
