.video-container {
  padding-top: 300px;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  transition: 3s;
}

.video-frame iframe {
  width: 100%;
  height: 600px;
  z-index: 1;
  cursor: pointer;
}

/* Media Query */

@media (max-width: 1900px) {
  .video-container {
    padding-top: 20px;
    height: 70vh;
  }
  iframe {
    height: 800px !important;
  }
}

@media (max-width: 1600px) {
  .video-container {
    padding-top: 0px;
    height: 70vh;
  }
  iframe {
    height: 800px !important;
  }
}

@media (max-width: 1400px) {
  .video-container {
    padding-top: 35px;
    height: 70vh;
  }
  iframe {
    height: 800px !important;
  }
}

@media (max-width: 1024px) {
  .video-container {
    padding-top: 21px;
    height: 65vh;
  }
  iframe {
    height: 750px !important;
  }
}

@media (max-width: 912px) {
  .video-container {
    padding-top: 0px;
    height: 55vh;
  }
  iframe {
    height: 650px !important;
  }
}

@media (max-width: 820px) {
  .video-container {
    padding-top: 0px;
    height: 58vh;
  }
  iframe {
    height: 650px !important;
  }
}

@media (max-width: 768px) {
  .video-container {
    padding-top: 21px;
    height: 55vh;
  }
  iframe {
    height: 650px !important;
  }
}

@media (max-width: 540px) {
  .video-container {
    padding-top: 0px;
    height: 43vh;
  }
  iframe {
    height: 500px !important;
  }
}

@media (max-width: 500px) {
  .video-container {
    padding-top: 21px;
    height: 38vh;
  }
  iframe {
    height: 450px !important;
  }
}

@media (max-width: 395px) {
  .video-container {
    padding-top: 20px;
    height: 37vh;
  }
}

@media (max-width: 360px) {
  .video-container {
    height: 65vh;
  }
  iframe {
    height: 450px !important;
  }
}

@media (max-width: 280px) {
  .video-container {
    height: 70vh;
  }
  iframe {
    height: 400px !important;
  }
}
