body {
  left: 0;
  margin: 0;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  height:100%;
  overflow-y: auto;
}

html {
  height: 100%;
}
