.noticeboard_container {
  width: 100%;
  height: auto;
  min-height: 280px;
  background-color: #f7fbff;
  display: flex;
  align-items: center;
}

.noticeboard_noticeboard_container {
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #888;
  width: 50%;
  height: auto;
  min-height: 330px;
  margin-left: 80px;
  box-shadow: 5px 5px 10px #333;
  font-family: "Pretendard-Regular", sans-serif;
}

.noticeboard_tab {
  list-style: none;
  height: 90px;
  display: flex;
  border-bottom: 3px solid #ffb13b; 
  margin: 0 30px;
  color: #ff7300;
}

.noticeboard_tab li {
  font-size: 22px;
  padding: 0 20px;
  margin-top: 40px;
  height: 20px;
  cursor: pointer;
  border-right: 2px solid #ffb13b;
  font-weight: 700;
  transition: .3s;
  display: flex;
  align-items: center;
}

.noticeboard_selected {
  color: #000;
}

.article_content_container {
  margin: 10px 15px 10px 65px;
  list-style: square;
  width: fit-content;
  padding-right: 10px;
  font-size: 15px;
}

.article_list {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 17px;
  transition: 1s;
}

.article_createdAt {
  width: fit-content;
  font-size: 16px;
  padding-right: 20px;
  color: #000;
  font-weight: 400;
}

.article_title {
  width: 75%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #000;
  font-weight: 400;
}

.article_content_container li {
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  font-size: 17px;
  transition: 1s;
}

/* Media queries for responsiveness */

@media screen and (max-width: 1330px) {
  .noticeboard_container {
    min-height: 500px;
    width: 54%;
  }
  .noticeboard_noticeboard_container {
    margin: 0 20px;
    width: 100%;
    height: auto;
  }
  .noticeboard_tab {
    height: 70px;
  }
  .noticeboard_tab li {
    font-size: 18px;
    padding: 10px 22px;
    margin-top: 20px;
    height: 40px;
  }
  .article_content_container {
    margin: 10px 10px;
  }
  .article_content_container li {
    padding: 10px;
    font-size: 20px;
  }
  .article_title {
    width: 76%;
  }
  .article_createdAt {
    font-size: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .noticeboard_tab li {
    font-size: 18px;
    padding: 10px 14px;
    margin-top: 20px;
    height: 40px;
  }
  .article_title {
    width: 68%;
  }
}

@media screen and (max-width: 912px) {
  .article_title {
    width: 57%;
  }
}

@media screen and (max-width: 870px) {
  .noticeboard_container {
    min-height: 430px;
    width: 100%;
  }
  .noticeboard_noticeboard_container {
    margin: 0 30px;
    width: 100%;
    height: auto;
    min-height: 350px;
  }
  .noticeboard_tab {
    height: 80px;
  }
  .noticeboard_tab li {
    font-size: 26px;
    padding: 0 25px;
    margin-top: 30px;
    height: 30px;
  }
  .article_content_container {
    margin: 5px 20px;
  }
  .article_content_container li {
    padding: 10px;
    font-size: 20px;
  }
  .article_title {
    width: 79%;
  }
  .article_createdAt {
    font-size: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .noticeboard_container {
    min-height: 400px;
    width: 100%;
  }
  .noticeboard_noticeboard_container {
    margin: 0 40px;
    width: 100%;
    height: auto;
    min-height: 300px;
  }
  .noticeboard_tab {
    height: 65px;
  }
  .noticeboard_tab li {
    font-size: 17px;
    padding: 0 13px;
    margin-top: 25px;
    height: 20px;
  }
  .article_content_container {
    margin: 13px 13px;
  }
  .article_content_container li {
    padding: 7px 0px;
    font-size: 17px;
  }
  .article_title {
    width: 75%;
  }
  .article_createdAt {
    font-size: 17px;
    padding-right: 12px;
  }
}

@media screen and (max-width: 540px) {
  .noticeboard_container {
    min-height: 370px;
    width: 90%;
  }
  .noticeboard_noticeboard_container {
    margin: 0px 30px;
    width: 100%;
    height: auto;
    min-height: 300px;
  }
  .noticeboard_tab {
    height: 60px;
  }
  .noticeboard_tab li {
    font-size: 15px;
  }
}
@media screen and (max-width: 414px) {
  .noticeboard_container {
    min-height: 330px;
    width: 96%;
  }
  .noticeboard_noticeboard_container {
    min-height: 230px;
    margin-left: 8px;
  }
  .noticeboard_tab {
    height: 40px;
  }
  .noticeboard_tab li {
    font-size: 14px;
    padding: 1px 6px;
    margin-top: 17px;
    height: 8px;
  }
  .article_content_container {
    margin: 3px 14px;
  }
  .article_content_container li {
    padding: 6px 10px;
    font-size: 17px;
  }
  .article_title {
    width: 50%;
  }
  .article_createdAt {
    font-size: 17px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 395px) {
  .noticeboard_container {
    min-height: 300px;
    width: 96%;
  }
  .noticeboard_noticeboard_container {
    width: 100%;
    height: auto;
    min-height: 100px;
    margin-left: 8px;
  }
  .noticeboard_tab {
    height: 40px;
  }
  .noticeboard_tab li {
    font-size: 13px;
    padding: 5px 6px;
    margin-top: 17px;
    height: 8px;
  }
  .article_content_container {
    margin: 3px 18px;
  }
  .article_content_container li {
    padding: 6px 0px;
    font-size: 14px;
  }
  .article_title {
    width: 60%;
  }
  .article_createdAt {
    font-size: 14px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 375px) {
  .noticeboard_container {
    min-height: 300px;
    width: 96%;
  }
  .noticeboard_noticeboard_container {
    width: 100%;
    height: auto;
    min-height: 100px;
    margin-left: 8px;
  }
  .noticeboard_tab {
    height: 40px;
  }
  .noticeboard_tab li {
    font-size: 11px;
    padding: 5px 7px;
    margin-top: 17px;
    height: 8px;
  }
  .article_content_container {
    margin: 3px 18px;
  }
  .article_content_container li {
    padding: 6px 0px;
    font-size: 14px;
  }
  .article_title {
    width: 55%;
  }
  .article_createdAt {
    font-size: 14px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 280px) {
  .noticeboard_container {
    min-height: 250px;
  }
  .noticeboard_noticeboard_container {
    margin-left: 6px;
  }
  .noticeboard_tab {
    height: 40px;
  }
  .noticeboard_tab li {
    font-size: 8px;
    padding: 10px 4px;
    margin-top: 10px;
  }
  .article_content_container {
    margin: 3px 18px;
  }
  .article_content_container li {
    padding: 6px 0px;
    font-size: 12px;
  }
  .article_title {
    width: 44%;
  }
  .article_createdAt {
    font-size: 12px;
    padding-right: 20px;
  }
}