.headerPopup_container {
  width: 500px;
  height: 600px;
  background-color: #fff;
  position: absolute;
  right: 50px;
  top: 500px;
  border-radius: 40px;
  z-index: 999;
  box-shadow: 1px 1px 5px #333;
}

.headerPopup_buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: -55px;
  margin-right: 20px;
}

.headerPopup_button {
  background-color: white;
  border:0;
  font-size: 38px;
  max-width: 100%;
  width: 35px;
  height: auto;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}

.headerPopup_img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 1s;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overflow-clip-margin: content-box;
  overflow: clip;
}

@media (max-width: 1280px){
  .headerPopup_container {
    right: 30px;
    width: 550px;
    height: 600px;
    top: 450px;
  }
}

@media (max-width: 1030px){
  .headerPopup_container {
    right: 25px;
    width: 440px;
    height: 550px;
    top: 500px;
  }
}

@media (max-width: 920px){
  .popup_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px
  }
  .headerPopup_container {
    position:static;
    width: 95vw;
    height: 400px;
    right: 10px;
  }

  .headerPopup_buttonContainer {
    margin-top: -30px;
    margin-right: 20px;
  }
  
  .headerPopup_button {
    font-size: 20px;
    width: 10px;
  }
}

@media (max-width: 540px){
  .headerPopup_container {
    width: 100vw;
    height: 350px;
  }
}

@media (max-width: 450px){
  .headerPopup_container {
    height: 380px;
  }
}
