.popup_container {
  width: 100%;
  height: 30px;
  overflow: hidden;
}

.headerPopup_container {
  width: 500px;
  height: 600px;
  background-color: #fff;
  position: absolute;
  right: 50px;
  top: 500px;
  border-radius: 40px;
  z-index: 999;
  box-shadow: 1px 1px 5px #333;
}

.headerPopup_buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: -55px;
  margin-right: 20px;
}

.headerPopup_button {
  background-color: rgba(0, 0, 0, 0);
  border:0;
  font-size: 38px;
  max-width: 100%;
  width: 35px;
  height: auto;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}

.headerPopup_img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  cursor: pointer;
  vertical-align: baseline;
  overflow-clip-margin: content-box;
  overflow: clip;
}

/* Media Query */

@media (max-width: 2000px){
  .headerPopup_container {
    right: 25px;
    width: 760px;
    height: 800px;
    top: 280px;
  }
}

@media (max-width: 1900px){
  .headerPopup_container {
    right: 25px;
    width: 730px;
    height: 780px;
    top: 300px;
  }
}

@media (max-width: 1800px){
  .headerPopup_container {
    right: 25px;
    width: 700px;
    height: 750px;
    top: 330px;
  }
}

@media (max-width: 1700px){
  .headerPopup_container {
    right: 25px;
    width: 680px;
    height: 730px;
    top: 350px;
  }
}

@media (max-width: 1600px){
  .headerPopup_container {
    right: 25px;
    width: 650px;
    height: 700px;
    top: 380px;
  }
}

@media (max-width: 1500px){
  .headerPopup_container {
    right: 25px;
    width: 600px;
    height: 680px;
    top: 400px;
  }
}

@media (max-width: 1400px){
  .headerPopup_container {
    right: 25px;
    width: 580px;
    height: 630px;
    top: 450px;
  }
}

@media (max-width: 1300px){
  .headerPopup_container {
    right: 25px;
    width: 550px;
    height: 600px;
    top: 480px;
  }
}

@media (max-width: 1200px){
  .headerPopup_container {
    right: 25px;
    width: 500px;
    height: 600px;
    top: 480px;
  }
}

@media (max-width: 1100px){
  .headerPopup_container {
    right: 25px;
    width: 460px;
    height: 560px;
    top: 520px;
  }
}

@media (max-width: 1000px){
  .headerPopup_container {
    width: 440px;
    height: 530px;
    top: 540px;
  }
}

@media (max-width: 930px){
  .popup_container {
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerPopup_container {
    position:static;
    width: 95vw;
    height: 700px;
  }

  .headerPopup_buttonContainer {
    margin-top: -45px;
    margin-right: 10px;
  }
  
  .headerPopup_button {
    font-size: 40px;
    width: 38px;
  }
}

@media (max-width: 819px) {
  .popup_container {
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerPopup_container {
    position:static;
    width: 95vw;
    height: 1180px;
  }

  .headerPopup_buttonContainer {
    margin-top: -50px;
    margin-right: 10px;
  }
  
  .headerPopup_button {
    font-size: 45px;
    width: 38px;
  }
}

@media (max-width: 769px) {
  .popup_container {
    height: 1120px;
  }

  .headerPopup_container {
    height: 1100px;
  }
}

@media (max-width: 723px) {
  .popup_container {
    height: 1060px;
  }

  .headerPopup_container {
    height: 1040px;
  }
}

@media (max-width: 679px) {
  .popup_container {
    height: 1000px;
  }

  .headerPopup_container {
    height: 980px;
  }

  .headerPopup_buttonContainer {
    margin-top: -45px;
    margin-right: 10px;
  }
  
  .headerPopup_button {
    font-size: 40px;
    width: 33px;
  }
}

@media (max-width: 643px) {
  .popup_container {
    height: 950px;
  }

  .headerPopup_container {
    height: 930px;
  }
}

@media (max-width: 602px) {
  .popup_container {
    height: 900px;
  }

  .headerPopup_container {
    height: 880px;
  }
}

@media (max-width: 575px) {
  .popup_container {
    height: 860px;
  }

  .headerPopup_container {
    height: 840px;
  }
}

@media (max-width: 537px) {
  .popup_container {
    height: 820px;
  }

  .headerPopup_container {
    height: 790px;
  }

  .headerPopup_buttonContainer {
    margin-top: -35px;
    margin-right: 10px;
  }
  
  .headerPopup_button {
    font-size: 30px;
    width: 23px;
  }
}

@media (max-width: 505px) {
  .popup_container {
    height: 780px;
  }

  .headerPopup_container {
    height: 750px;
  }
}

@media (max-width: 471px) {
  .popup_container {
    height: 730px;
  }

  .headerPopup_container {
    height: 700px;
  }
}

@media (max-width: 441px) {
  .popup_container {
    height: 680px;
  }

  .headerPopup_container {
    height: 660px;
  }
}

@media (max-width: 417px) {
  .popup_container {
    height: 650px;
  }

  .headerPopup_container {
    height: 630px;
  }
}

@media (max-width: 397px) {
  .popup_container {
    height: 620px;
  }

  .headerPopup_container {
    height: 600px;
  }
}

@media (max-width: 381px) {
  .popup_container {
    height: 600px;
  }

  .headerPopup_container {
    height: 580px;
  }
}

@media (max-width: 360px) {
  .popup_container {
    height: 590px;
  }

  .headerPopup_container {
    height: 550px;
  }
}

@media (max-width: 346px) {
  .popup_container {
    height: 580px;
  }

  .headerPopup_container {
    height: 530px;
  }
}

@media (max-width: 326px) {
  .popup_container {
    height: 520px;
  }

  .headerPopup_container {
    height: 500px;
  }
}

@media (max-width: 297px) {
  .popup_container {
    height: 480px;
  }

  .headerPopup_container {
    height: 460px;
  }

  .headerPopup_buttonContainer {
    margin-top: -30px;
    margin-right: 20px;
  }
  
  .headerPopup_button {
    font-size: 20px;
    width: 10px;
  }
}

@media (max-width: 270px){
  .popup_container {
    height: 480px;
  }

  .headerPopup_container {
    height: 430px;
  }
}

@media (max-width: 250px){
  .popup_container {
    height: 420px;
  }

  .headerPopup_container {
    height: 390px;
  }
}

@media (max-width: 230px){
  .popup_container {
    height: 400px;
  }

  .headerPopup_container {
    height: 370px;
  }

  .headerPopup_buttonContainer {
    margin-top: -30px;
    margin-right: 20px;
  }
  
  .headerPopup_button {
    font-size: 20px;
    width: 10px;
  }
}