.tafisa_container {
  padding: 40px 15px;
  height: 500px;
}

.container {
  border: 1px solid #333;
  border-radius: 15px;
  width: 50%;
  height: 420px;
  margin-left: 80px;
  box-shadow: 5px 5px 10px #333;
  font-family: Pretendard-Regular,sans-serif;
  
}

.tafisa_title {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: 15px;
  color:#ff7300;
  border-bottom: 3px solid #ffb13b;
  margin: 0 30px;
}

.tafisa_info {
  padding: 10px 23px;
}

.tafisa_list {
  padding: 10px 15px 10px;
  text-align: center;
}

@media (max-width: 280px) {
  .tafisa_container {
    padding: 20px 10px;
    height: 300px;
  }

  .photo_subtitle {
    font-size: 13px;
    color: #ff7300;
    font-weight: 700;
    margin-bottom: -5px;
  }

  .photo_button {
    font-size: 8px;
  }
  
  .photo_list {
    display: unset;
  }
}