.group-list-container:first-child {
    border-top: none;
}

.group-list-container {
    font-family: SUIT-Medium,sans-serif;
    border-top: 1.5px solid rgba(255,206,70,.226);
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
}

.group-list-title{
    font-size: 19px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 12px;
    color: #ff5e00;
    font-weight: 600;
}

.group-list-img-container {
    width: 25%;
    display: flex;
    justify-content: center;
    border-right: 1.5px solid rgba(255,115,0,.562);
    cursor: pointer;
}

.group-list-img-container2 {
    width: 110px;
}

.group-list-img-container2 button {
    cursor: pointer;
}

.group-image {
    width: 100%;
    border-radius: 10px;
}

.group-list-text-container {
    width: 75%;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    transition: transform 1s ease;
}

.group-list-text-container:hover {
    transform: translateX(5px); 
    color: orangered;
}

.group-list-text-container p {
    font-size: 16px;
    white-space: pre-line;
    line-height: 22px;
    transition: 1s;
    width: 100%;
    height: fit-content;
}

/************* Media Query *************/

@media screen and (min-width: 320px) and (max-width: 480px) {

.group-list-title{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.group-list-img-container {
    width: 42%;
    
}

.group-list-img-container2 {
    width: 100px;
}

.group-list-text-container {
    width: 58%;
    padding-left: 5px;
}

.group-list-text-container p {
    font-size: 12px;
    line-height: 15px;
}
}

@media screen and (min-width: 481px) and (max-width: 768px) {

.group-list-title{
    font-size: 17px;
    margin-top: 7px;
    margin-bottom: 12px;
}
    
.group-list-img-container {
    width: 32%;   
}
    
.group-list-img-container2 {
    width: 105px;
}
    
.group-list-text-container {
    width: 62%;
    padding-left: 15px;
}
    
.group-list-text-container p {
    font-size: 15px;
    line-height: 20px;
}
}