.subpage-container {
    height: max-content;
    min-height: 200px;
    padding-bottom: 20px;
    margin: 0 12%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.login-paragraph {
  font-size: 30px;
}

.login-paragraph-email {
  font-size: 40px;
}

a {
    text-decoration: none;
}

/**************** Location Container ****************/

.location-container {
    margin: 30px 0;
    height: 20px;
    font-size: 14px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    font-family: NanumBarunGothic,serif;
}

.location-container > *:not(:last-child) {
    margin-right: 4px;
}

.location-container a {
    color: black;
    font-size: 11px;
    font-weight: 700;
}

.homeIcon {
    display: inline-block;
    color: #ff7300;
}

.icon-style {
    color: #999;
    font-size: 7px;
}

/**************** Navbar Container ****************/

.navbar-container {
    width: 20%;
    height: max-content;
    display: inline-block;
}

.navbarVertricle {
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
    font-family: NanumBarunGothic,serif!important;
}

.title {
    height: 50px;
    font-weight: 800;
    border-bottom: 3px solid #ff7300;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 50px;
    font: inherit;
    vertical-align: baseline;
}

.title h2 {
    font-size: 25px;
}

.itemList{
    padding: 0 20px;
    font-size: 17px;
    font-weight: 700;
}

.navItem {
    padding: 15px 0;
    border-bottom: 2px solid #e6e6e6;
    transition: 1s;
    cursor: pointer;
}

.navItem:hover {
    border-bottom: 2px solid orange;
}

.navItem div {
    color: black;
    transition: transform 0.8s ease;
}

.navItem div:hover {
    transform: translateX(10px); 
    color: orangered;
}

/**************** SubMenu Title Container ****************/

.content-container {
    width: 80%;
    height: max-content;
    padding-left: 20px;
}

.subMenu-title-container {
    width: 100%;
    display: inline-block;
    font-family: Pretendard-Regular,sans-serif;
    color: #333;
    word-break: keep-all;
}

.subMenu-title-container h2,
.subMenu-title-container h3 {
    font-weight: 700;
    opacity: 0;
    transform: translateX(-15px);
}

.subMenu-title-container h2 {
    font-size: 38px;
    animation: slideInAndFadeInH2 0.8s ease forwards;
}

.subMenu-title-container h3 {
    font-size: 17px;
    animation: slideInAndFadeInH3 0.8s ease forwards .5s; 
}

@keyframes slideInAndFadeInH2 {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInAndFadeInH3 {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/******************* Media Query **************/

@media screen and (min-width: 320px) and (max-width: 480px) {
.subpage-container { 
    margin: 0 20px;
}

.location-container {
    margin: 12px 0;
    height: 10px;
    font-size: 10px;
}

.location-container > *:not(:last-child) {
    margin-right: 2px;
}

.location-container a {
    font-size: 9px;
}

.content-container {
    width: 100%;
    padding-left: 0px;
}

.subMenu-title-container h2 {
    font-size: 18px;
}

.subMenu-title-container h3 {
    font-size: 12px;
}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
.subpage-container { 
    margin: 0 20px;
}
    
.location-container {
    margin: 15px 0;
    height: 15px;
    font-size: 15px;
}
    
.location-container > *:not(:last-child) {
    margin-right: 4px;
}
    
.location-container a {
    font-size: 10px;
}
    
.subMenu-title-container h2 {
    font-size: 25px;
}
    
.subMenu-title-container h3 {
    font-size: 15px;
}

.content-container {
    width: 100%;
    padding-left: 0px;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
.subpage-container { 
    margin: 0 6%;
}

.title {
    padding-top: 10px;
    padding-left: 12px;
    padding-bottom: 40px;
}

.title h2 {
    font-size: 20px;
}

.itemList{
    font-size: 15px;
    padding: 0 10px;
}

.subMenu-title-container h2 {
    font-size: 30px;
}
    
.subMenu-title-container h3 {
    font-size: 17px;
}

}
