.mouList-title-container {
    font-size: 22px;
}

/* .mou_mou_content_container {
  justify-content: center;
  align-items: center;
  display: inline-block;
  flex-wrap: wrap;
  padding: 100px;
} */

.mouList-container {
    font-family: SUIT-Medium,sans-serif;
    border-bottom: 1.5px solid rgba(255,206,70,.226);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0;
}

.mouList-imgContainer {
    width: 25%;
    height: 100%;
    border-right: 2px solid rgba(255,115,0,.562);
}

/* .mouList-imgContainer button {
    border: none;
    background-color: white;
    cursor: pointer;
} */

.mouList-image {
    width: 50%;
    border-radius: 10px;
}

.mouList-contextContainer {
    width: 75%;
    padding-left: 20px;
}

.mouList-context-title {
    font-size: 19px;
    width: 100%;
    margin-bottom: 7px;
    font-weight: 600;
    color: #ff5e00;
}

.mouList-contextContainer p {
    font-size: 16px;
    margin-bottom: 7px;
    white-space: pre-line;
    line-height: 22px;
    transition: 1s;
    width: 100%;
    height: fit-content;
    transition: transform 1s ease;
}

.mouList-contextContainer p:hover {
    transform: translateX(7px); 
    color: orangered;
}
/* 
.mouList-button {
    padding: 4px 6px;
    border: 1px solid #eb5600;
    height: fit-content;
    margin-top: 5px;
    border-radius: 3px;
    font-size: 14px;
    transition: color 1s ease;
} */

/* .mouList-button:hover {
    color: white;
    background-color: #ff5e00;
} */

@media screen and (min-width: 320px) and (max-width: 500px) {

.mouList-imgContainer {
    width: 40%;
}

.mouList-contextContainer {
    width: 60%;
    padding-left: 5px;
}

.mouList-context-title {
    font-size: 16px;
    margin-bottom: 2px;
}

.mouList-contextContainer p {
    font-size: 12px;
    margin-bottom: 2px;
    line-height: 16px;
}

.mouList-button {
    padding: 2px 5px;
    height: fit-content;
    font-size: 13px;
}
}

@media screen and (min-width: 501px) and (max-width: 1024px) {

.mouList-imgContainer {
    width: 35%;
}
    
.mouList-contextContainer {
    width: 65%;
    padding-left: 8px;
}

.mouList-context-title {
    font-size: 18px;
    margin-bottom: 2px;
}

.mouList-contextContainer p {
    font-size: 16px;
    margin-bottom: 2px;
    line-height: 18px;
}
}