.notice-list-menu {
    margin-top: 18px;
    width: 100%;
    background-color: rgba(255,115,0,.825);
    display: flex;
    flex-wrap: wrap;
    padding: 12px 0;
    color: #fff;
    text-align: center;
    font-family: Pretendard-Regular,sans-serif;
    font-size: 17px;
}

.notice-list-count {
    border-right: 2px solid #ffd9ba;
    width: 11%;
}

.notice-list-title {
    border-right: 2px solid #ffd9ba;
    width: 65%;
}

.notice-list-createdAt {
    border-right: 2px solid #ffd9ba;
    width: 12%;
}

.notice-list-author {
    width: 12%;
}

ul {
    list-style: none;
}

.notice-list-table:not(.notice-list-table-createdAt) {
    color: black;
}

.notice-list-table:last-child {
    border-bottom: 2px solid #ff9b00;
}

.notice-list-table {
    width: 100%;
    padding: 18px 0;
    border-bottom: 1px solid #ffd9ba;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    cursor: pointer;
    transition: .8s;
    font-family: Pretendard-Regular,sans-serif;
    font-size: 16px;
}

.notice-list-table-count {
    width: 11%;
}

.notice-list-table:hover {
    background-color: #ffeada;
}

.notice-list-table-title {
    font-size: 18px;
    text-align: left!important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 20px;
    padding-left: 5px;
    width: 65%;
}

.notice-list-table-createdAt {
    color: rgba(255,115,0,.825);
    width: 12%;
}

.notice-list-table-author {
    width: 12%;
}

.notice-list-table-mobile {
    display: none;
}

.pagination-pagination {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.pagination-page {
    background-color: #ffe4bd;
    width: 22px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-family: NanumSquareRound,sans-serif;
    cursor: pointer;
    border: 1px solid #ca7a02;
    border-radius: 2px;
    transition: .5s;
    font-size: 16px;
}

.pagination-current-page {
    background-color: #ff9b00!important;
    color: #fff;
}

.pagination-goto-container {
    display: flex;
    justify-content: center;
    font-family: NanumSquareRound,sans-serif;
    margin-top: 10px;
    font-size: 14px;
    align-items: center;
}

.pagination-input {
    width: 33px;
    height: 23px;
    margin-right: 2px;
    font-size: 15px;
}

.pagination-goto-container p {
    padding-top: 4px;
}

.pagination-button {
    border-radius: 3px;
    border: 1px solid #ff9b00;
    margin-left: 5px;
    padding: 2px 4px;
    cursor: pointer;
    background-color: rgba(255,153,0,.136);
}

.pagination-button:hover { 
    background-color: rgba(255,153,0,.3);
    transition: .4s;
}

/************* Media Query *************/

@media screen and (min-width: 320px) and (max-width: 670px) {

.notice-list-menu {
    margin-top: 10px;
    padding: 6px 0;
    font-size: 10px;
}

.notice-list-count {
    width: 15%;
}

.notice-list-title {
    border: none;
    width: 85%;
}

.notice-list-createdAt {
    display: none;
}

.notice-list-author {
    display: none;
}

.notice-list-table {
    width: 100%;
    padding: 9px 0;
    font-size: 12px;
}

.notice-list-table-count {
    width: 15%;
    border-right: 2px solid #ffd9ba;
}

.notice-list-table-title {
    font-size: 12px;
    text-overflow: none;
    overflow: unset;
    white-space: normal;
    padding-left: 15px;
    width: 85%;
}

.notice-list-table-createdAt {
    display: none;
}

.notice-list-table-author {
    display: none;
}

.notice-list-table-mobile {
    display: block;
    font-size: 9px;
    padding-top: 2px;
    color: #666;
    font-weight: 300;
}

.pagination-page {
    width: 17px;
    height: 22px;
    font-size: 12px;
}

.pagination-current-page {
    background-color: #ff9b00!important;
    color: #fff;
}

.pagination-goto-container {
    font-size: 12px;
}

.pagination-input {
    width: 25px;
    height: 23px;
    font-size: 15px;
}

.pagination-button {
    margin-left: 5px;
    padding: 1px 3px;
}
}

@media screen and (min-width: 769px) and (max-width: 880px) {

.notice-list-table {
    font-size: 13px;
}

.notice-list-table-title {
    font-size: 15px;
}
/* .notice-list-table-createdAt {
    font-size: 18 !important;
}

.notice-list-table-author {
    font-size: 10;
} */
}