.status-result-container-jojik {
  font-family: SUIT-Medium,sans-serif;
  font-size: 17px;
  line-height: 20px;
  word-spacing: 2px;
  margin-bottom: 20px;
}

.status-content-jojik {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.status-position-jojik {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-family: NanumBarunGothic,sans-serif;
  width: 100%;
}

.status-container-jojik {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
}


.logo2-container {
  max-width: 30%;
  margin-bottom: 20px;
  position: relative;
}

.logo2-container::after {
  content: '';
  position: absolute;
  top: 100%;
  height: 30px;
  left: 50%;
  width: 4px;
  background-color: gray;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: NanumBarunGothic,sans-serif;
  font-size: 30px;
  padding-left: 10%
}

.name h6 {
  margin: 0;
}

.text-container {
  background-color: #9DB2BF;
  border-radius: 5px;
  padding: 10px;
}

.text-container h2 {
  color: white;
  text-align: center;
}

.status-card-jojik {
  position: relative;
  width: 25%;
  box-shadow:5px 5px 5px rgba(0,0,0,.05);
  border-radius: 15px;
}

.status-card-jojik-arrow {
  position: relative;
  width: 25%;
  box-shadow:5px 5px 5px rgba(0,0,0,.05);
  border-radius: 15px;
  max-width: 35%;
  height: 100%;
}

.status-card-jojik-arrow-upper {
  position: relative;
  width: 25%;
  box-shadow:5px 5px 5px rgba(0,0,0,.05);
  border-radius: 15px;
  max-width: 35%;
  height: 100%;
  margin-top: 3.1%
}

.status-card-jojik-arrow-upper:not(:last-child)::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 50%;
  width: 112.5%;
  height: 4px;
  background-color: gray;
  transform: translateY(-760%);
}

.status-card-jojik-arrow-upper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 30px;
  background-color: gray;
  transform: translateY(-30px);
}

.status-card-jojik-arrow::after {
  content: '';
  position: absolute;
  top: 100%;
  height: 30px;
  left: 50%;
  width: 4px;
  background-color: gray;
}

.id-photo-jojik {
  width: 92px;
  height: 115px;
  background-color: #fff;
  border: 0.5px solid #777;
  border-radius: 0 0 0 15px;
  object-fit: cover;
  padding-top:10px;
  margin-left: 0;
}

.status-id-photo-container-jojik {
  margin-right: 7px;
}

.status-id-text-container-jojik {
  padding: 0;
  width: 100%;
}

.titles-jojik {
  margin-left: 7%;
}

.status-id-text-container-jojik h6:first-child {
  height: 30px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;    
  font-size: 18px;
  color: #222;
  font-family: SUIT-Medium,sans-serif;
  letter-spacing: 10px;
  font-weight: 700;
  width: 100%;
  border-radius:15px 15px 0 0;
}

.sub-heading-container-jojik {
  margin-bottom: 10px;
  width:100%;
  background-color: #9DB2BF;
  border-radius: 5px;
  color: white;
  font-family: Times;
  padding:1%;
}

.sub-heading-jojik {
  text-align: center;
  font-size: 24px;
}

.seomira {
  width: 100%
}

/* Media Queries */
@media (min-width: 2001px) and (max-width: 3000px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 111%;
  }

  .status-container-jojik {
    padding-left: 11%;
    padding-right: 11%;
  }

  .status-card-jojik-arrow-upper::after {
    height: 35px;
    transform: translateY(-33px);
  }

  .status-card-jojik-arrow-upper:not(:last-child)::before {
    transform: translateY(-860%);
  }

  .name {
    font-size: 40px
  }
}

@media screen and (max-width: 2900px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 109%;
  }
  .status-card-jojik-arrow-upper::after {
    height: 39px;
    transform: translateY(-38px);
  }

  .status-card-jojik-arrow-upper:not(:last-child)::before {
    transform: translateY(-960%);
  }
  
}


@media screen and (max-width: 2800px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 110%;
  }
  .status-card-jojik-arrow-upper::after {
    height: 35px;
    transform: translateY(-33px);
  }

  .status-card-jojik-arrow-upper:not(:last-child)::before {
    transform: translateY(-900%);
  }
  
}

@media screen and (max-width: 2600px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 110%;
  }
}

@media screen and (max-width: 2500px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 111%;
  }
}

@media screen and (max-width: 2400px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 111.5%;
  }
}

@media screen and (max-width: 2300px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 111%;
  }

  .status-card-jojik-arrow-upper::after {
    height: 30px;
    transform: translateY(-30px);
  }

  .status-card-jojik-arrow-upper:not(:last-child)::before {
    transform: translateY(-750%);
  }
}

@media screen and (max-width: 2217px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 111.5%;
  }
}

@media screen and (max-width: 2160px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 112%;
  }
}

@media (min-width: 2001px) and (max-width: 2055px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 112.5%;
  }

  .status-container-jojik {
    padding-left: 11%;
    padding-right: 11%;
  }

  .status-card-jojik-arrow-upper::after {
    height: 30px;
    transform: translateY(-28px);
  }

  .status-card-jojik-arrow-upper:not(:last-child)::before {
    transform: translateY(-750%);
  }

  .name {
    font-size: 40px
  }
}

@media screen and (max-width: 2000px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 109.5%;
  }

  .status-card-jojik-arrow-upper::after {
    height: 35px;
    transform: translateY(-34px);
  }

  .status-card-jojik-arrow-upper:not(:last-child)::before {
    transform: translateY(-920%);
  }

  .name {
    font-size: 40px
  }
}

@media screen and (max-width: 1980px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 108.8%;
  }
}

@media screen and (max-width: 1956px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 108.9%;
  }

  .status-card-jojik-arrow-upper::after {
    height: 32px;
    transform: translateY(-32px);
  }

  .status-card-jojik-arrow-upper:not(:last-child)::before {
    transform: translateY(-900%);
  }
}

@media screen and (max-width: 1927px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 109%;
  }
}

@media screen and (max-width: 1905px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 109.4%;
  }

  .status-card-jojik-arrow-upper::after {
    height: 32px;
    transform: translateY(-32px);
  }

  .status-card-jojik-arrow-upper:not(:last-child)::before {
    transform: translateY(-880%);
  }
}

@media screen and (max-width: 1904px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 109.2%;
  }
}

@media screen and (max-width: 1830px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 109.8%;
  }

  .status-card-jojik-arrow-upper::after {
    height: 32px;
    transform: translateY(-32px);
  }

  .status-card-jojik-arrow-upper:not(:last-child)::before {
    transform: translateY(-830%);
  }
}

@media screen and (max-width: 1830px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 109.4%;
  }
}

@media screen and (max-width: 1738px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 110.3%;
  }

  .status-card-jojik-arrow-upper::after {
    height: 28px;
    transform: translateY(-28px);
  }

  .status-card-jojik-arrow-upper:not(:last-child)::before {
    transform: translateY(-800%);
  }
}

@media screen and (max-width: 1695px) {
  .status-card-jojik-arrow-upper::after {
    height: 28px;
    transform: translateY(-28px);
  }

  .status-card-jojik-arrow-upper:not(:last-child)::before {
    transform: translateY(-780%);
  }
}

@media screen and (max-width: 1576px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 111.4%;
  }
}

@media screen and (max-width: 1500px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 112%;
  }

  .status-card-jojik-arrow-upper::after {
    width: 4px;
    height: 28px;
    transform: translateY(-28px);
  }

  .status-card-jojik-arrow-upper:not(:last-child)::before {
    transform: translateY(-700%);
  }

  .name {
    font-size: 25px
  }

  .titles-jojik {
    font-size: 15px
  }
}

@media screen and (max-width: 1336px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 113%;
  }

  .status-card-jojik-arrow-upper::after {
    width: 4px;
    height: 23px;
    transform: translateY(-23px);
  }

  .status-card-jojik-arrow-upper:not(:last-child)::before {
    transform: translateY(-610%);
  }
}

@media screen and (max-width: 1381px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 113.4%;
  }
}

@media screen and (max-width: 1327px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 113.9%;
  }
}

@media screen and (max-width: 1304px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 114%;
  }
}

@media screen and (max-width: 1236px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 115%;
  }

  .status-card-jojik-arrow-upper::after {
    width: 4px;
    height: 22px;
    background-color: gray;
    transform: translateY(-20px);
  }

  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 115.3%;
    transform: translateY(-600%);
  }

  .titles-jojik {
    font-size: 15px
  }
}

@media screen and (max-width: 1200px) {
  .status-card-jojik-arrow {
    width: 20%;
  }

  .status-card-jojik{
    width: 20%;
  }

  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 117.7%;
    transform: translateY(-530%);
  }

  .status-card-jojik-arrow-upper::after {
    height: 20px;
    transform: translateY(-20px);
  } 

  .logo2-container {
    width: 30%;
    height: 50%;
  }

  .text-container {
    font-size: 15px;
  }

  .titles-jojik {
    font-size: 13px;
    letter-spacing: 3px;
  }

  .status-id-text-container-jojik h6:first-child {
    height: 20px;
  }

  .id-photo-jojik {
    width: 30px;
    height: 40px;
  }

  .name {
    font-size: 30px;
  }

  .seomira {
    width: 100%
  }
}

@media screen and (max-width: 1200px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 115.7%;
  }
}

@media screen and (max-width: 1136px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 116.7%;
  }
}

@media screen and (max-width: 1100px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 117%;
  }
}

/* Responsive styles for ipad Pro */
@media screen and (max-width: 1024px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 115.7%;
  }
}

@media screen and (max-width: 991px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 116.5%;
  }
}

@media screen and (max-width: 947px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 117.5%;
  }
}

@media screen and (max-width: 900px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 118.5%;
  }
}

@media screen and (max-width: 866px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 119.5%;
  }
}

/* Responsive styles for ipad Air */
@media screen and (max-width: 820px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 120%;
    transform: translateY(-500%);
  }
}

@media screen and (max-width: 819px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 117.5%;
  }
}

@media screen and (max-width: 815px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 120.7%;
  }
}

/* Responsive styles for ipad Mini */
@media screen and (max-width: 768px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 114.7%;
    transform: translateY(-600%);
  }

  .titles-jojik {
    font-size: 15px;
    letter-spacing: 8px;
  }

  .status-id-text-container-jojik h6:first-child { 
    letter-spacing: 1px;
  }

  .id-photo-jojik {
    width: 40px;
  }

  .seomira {
    width: 95%
  }
}

@media screen and (max-width: 766px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 115%;
  }
}

@media screen and (max-width: 758px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 115.5%;
  }
}

@media screen and (max-width: 738px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 116%;
  }
}

@media screen and (max-width: 718px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 116.5%;
  }
}

/* Responsive styles for Surface Duo */
@media screen and (max-width: 700px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 116.5%;
    transform: translateY(-450%);
  }

  .status-card-jojik-arrow {
    width: 25%;
  }

  .status-card-jojik{
    width: 25%;
  }

  .status-card-jojik-arrow-upper::after {
    height: 15px;
    transform: translateY(-15px);
  }

  .titles-jojik {
    font-size: 12px;
    letter-spacing: 5px;
  }

  .status-id-text-container-jojik h6:first-child { 
    letter-spacing: 1px;
  }

  .id-photo-jojik {
    width: 40px;
    height: 50px
  }
}

@media screen and (max-width: 699px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 117%;
  }
}

@media screen and (max-width: 670px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 118%;
  }
}

@media screen and (max-width: 659px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 118%;
  }
}

@media screen and (max-width: 638px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 119%;
  }
}

@media screen and (max-width: 618px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 120%;
  }
}

@media screen and (max-width: 602px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 120.5%;
  }
}

@media screen and (max-width: 590px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 121%;
  }
}

@media screen and (max-width: 584px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 120.5%;
  }
}

@media screen and (max-width: 582px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 121.5%;
  }
}

@media screen and (max-width: 570px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 122%;
    transform: translateY(-400%);
  }
}

@media screen and (max-width: 539px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 123%;
    transform: translateY(-400%);
  }

  .status-card-jojik-arrow-upper::after {
    height: 12px;
    transform: translateY(-12px);
  }

  .name {
    font-size: 15px
  }

  .titles-jojik {
    font-size: 8px;
  }
}

@media screen and (max-width: 534px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 123.5%;
  }
}

@media screen and (max-width: 531px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 123%;
  }
}

@media screen and (max-width: 530px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 123.5%;
  }
}

@media screen and (max-width: 526px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 123.8%;
  }
}

@media screen and (max-width: 523px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 123.5%;
  }
}

@media screen and (max-width: 522px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 124%;
  }
}

@media screen and (max-width: 518px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 124.5%;
  }
}

@media screen and (max-width: 516px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 124%;
  }
}

@media screen and (max-width: 514px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 124.5%;
  }
}

@media screen and (max-width: 510px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 125%;
  }
}

@media screen and (max-width: 508px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 124.5%;
  }
}

@media screen and (max-width: 506px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 125%;
  }
}

@media screen and (max-width: 502px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 125.5%;
  }
}

@media screen and (max-width: 500px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 125%;
  }
}

@media screen and (max-width: 498px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 125.5%;
  }
}

@media screen and (max-width: 494px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 126%;
  }
}

@media screen and (max-width: 486px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 126.5%;
  }
}

@media screen and (max-width: 482px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 127%;
  }
}

@media screen and (max-width: 481px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 126.5%;
  }
}

@media screen and (max-width: 478px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 127%;
  }
}

@media screen and (max-width: 474px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 127.5%;
  }
}

@media screen and (max-width: 472px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 127%;
  }
}

@media screen and (max-width: 470px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 127.5%;
  }
}

@media screen and (max-width: 462px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 128.5%;
  }
}

@media screen and (max-width: 460px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 128%;
  }
}

@media screen and (max-width: 458px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 128.5%;
  }
}

@media screen and (max-width: 454px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 129%;
  }
}

@media screen and (max-width: 450px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 129.5%;
  }
}

@media screen and (max-width: 442px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 130%;
  }
}

@media screen and (max-width: 438px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 130.5%;
  }
}

@media screen and (max-width: 434px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 131%;
  }
}

/* Responsive styles for iphone SE */
@media screen and (max-width: 430px) {
  .status-card-jojik-arrow {
    width: 23%;
  }

  .status-card-jojik{
    width: 23%;
  }

  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 131%;
    transform: translateY(-300%);
  }
  
  .status-card-jojik-arrow-upper::after {
    height: 10px;
    transform: translateY(-10px);
  }

  .text-container {
    font-size: 10px;
  }

  .titles-jojik {
    font-size: 10px;
    letter-spacing: 0;
  }

  .id-photo-jojik {
    width: 18px;
    height: 30px;
  }
}

@media screen and (max-width: 426px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 131.5%;
  }
}

@media screen and (max-width: 422px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 132%;
  }
}

@media screen and (max-width: 418px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 132.5%;
  }
}

/* Responsive styles for iphone SE */
@media screen and (max-width: 414px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 133%;
  }

  .name {
    font-size: 15px;
  }
  
}

@media screen and (max-width: 410px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 133.5%;
  }
}

@media screen and (max-width: 406px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 134%;
  }
}

@media screen and (max-width: 404px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 133.5%;
  }
}

@media screen and (max-width: 402px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 134.5%;
  }
}

@media screen and (max-width: 401px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 134%;
  }
}

@media screen and (max-width: 398px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 135%;
  }
}

@media screen and (max-width: 394px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 135.5%;
  }
}

@media screen and (max-width: 393px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 135%;
  }
}

/* Responsive styles for iphone 12 PRO */
@media screen and (max-width: 390px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 136%;
  }
}

@media screen and (max-width: 389px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 136%;
  }
}

@media screen and (max-width: 388px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 135.5%;
  }
}

@media screen and (max-width: 386px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 136.5%;
  }
}

@media screen and (max-width: 384px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 136%;
  }
}

/* Responsive styles for iphone SE */
@media screen and (max-width: 378px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 137.5%;
  }
}

@media screen and (max-width: 374px) {
  .status-card-jojik-arrow {
    width: 20%;
    border-radius: 8px;
  }

  .status-card-jojik-arrow-upper {
    border-radius: 8px;
  }

  .status-card-jojik {
    width: 20%;
    border-radius: 8px;
  }

  .logo2-container::after {
    width: 2px;
  }

  .status-card-jojik-arrow::after {
    width: 2px;
  }

  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 133.5%;
    height: 2px;
    transform: translateY(-400%);
  }
  
  .status-card-jojik-arrow-upper::after {
    width: 2px;
    height: 8px;
    transform: translateY(-8px);
  }

  .name {
    font-size: 10px;
  }

  .id-photo-jojik {
    width: 10px;
    height: 20px;
    border-radius: 0 0 0 8px;
  }
  
  .titles-jojik {
   font-size: 7px;
  }

  .status-id-text-container-jojik h6:first-child{
    border-radius: 8px 8px 0 0;
  }

  .text-container {
    font-size: 8px;
  }

  .sub-heading-jojik {
    font-size: 13px;
  }
}

@media screen and (max-width: 370px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 135.5%;
  }
}

@media screen and (max-width: 349px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 138.5%;
  }
}

@media screen and (max-width: 336px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 140.5%;
  }
}

@media screen and (max-width: 314px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 145.5%;
  }
}

@media screen and (max-width: 294px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 148.5%;
  }
}

/* Responsive styles for Galaxy Fold */
@media screen and (max-width: 290px) {
  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 152.5%;
  }
}