.status-result-container-jojik {
  font-family: SUIT-Medium,sans-serif;
  font-size: 17px;
  line-height: 20px;
  word-spacing: 2px;
  margin-bottom: 20px;
}

.status-content-jojik {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.status-position-jojik {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-family: NanumBarunGothic,sans-serif;
  width: 100%;
}

.status-container-jojik {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
}


.logo2-container {
  max-width: 30%;
  margin-bottom: 20px;
  position: relative;
}

.logo2-container::after {
  content: '';
  position: absolute;
  top: 100%;
  height: 30px;
  left: 50%;
  width: 4px;
  background-color: gray;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: NanumBarunGothic,sans-serif;
  font-size: 40px;
  padding-left: 10%
}

.name h6 {
  margin: 0; /* remove default margin to prevent unwanted spacing */
}

.text-container {
  background-color: #9DB2BF;
  border-radius: 5px;
  padding: 10px;
}

.text-container h2 {
  color: white;
  text-align: center;
}

/* .top-border {
  height: 0;
  width: 100%;
  border-top: 4px solid gray;
  margin: 0 auto;
} */

.status-card-jojik {
  position: relative;
  width: 25%;
  box-shadow:5px 5px 5px rgba(0,0,0,.05);
  border-radius: 15px;
}

.status-card-jojik-arrow {
  position: relative;
  width: 25%;
  box-shadow:5px 5px 5px rgba(0,0,0,.05);
  border-radius: 15px;
  max-width: 35%;
  height: 100%;
}

.status-card-jojik-arrow-upper {
  position: relative;
  width: 25%;
  box-shadow:5px 5px 5px rgba(0,0,0,.05);
  border-radius: 15px;
  max-width: 35%;
  height: 100%;
  margin-top: 3.1%
}

.status-card-jojik-arrow-upper:not(:last-child)::before {
  content: '';
  position: absolute;
  top: 0px; /* Adjust the position to be above the container */
  left: 50%;
  width: 112.5%;
  height: 4px; /* Adjust the height of the horizontal line */
  background-color: gray;
  transform: translateY(-760%);
}

.status-card-jojik-arrow-upper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 30px; /* Adjust the height of the vertical lines */
  background-color: gray;
  transform: translateY(-30px);
}

.status-card-jojik-arrow::after {
  content: '';
  position: absolute;
  top: 100%;
  height: 30px;
  left: 50%;
  width: 4px;
  background-color: gray;
}

.id-photo-jojik {
  width: 92px;
  height: 115px;
  background-color: #fff;
  border: 0.5px solid #777;
  border-radius: 0 0 0 15px;
  object-fit: cover;
  padding-top:10px;
  margin-left: 0;
}

.status-id-photo-container-jojik {
  margin-right: 7px;
}

.status-id-text-container-jojik {
  padding: 0;
  width: 100%;
}

.titles-jojik {
  margin-left: 7%;
}

.status-id-text-container-jojik h6:first-child {
  height: 30px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;    
  font-size: 18px;
  color: #222;
  font-family: SUIT-Medium,sans-serif;
  letter-spacing: 10px;
  font-weight: 700;
  width: 100%;
  border-radius:15px 15px 0 0;
}

.sub-heading-container-jojik {
  margin-bottom: 10px;
  width:100%;
  background-color: #9DB2BF;
  border-radius: 5px;
  color: white;
  font-family: Times;
  padding:1%;
}

.sub-heading-jojik {
  text-align: center;
  font-size: 24px;
}

/* Responsive styles for tablets */
@media screen and (max-width: 1024px) {
  .status-card-jojik,
  .status-card-jojik-arrow,
  .status-card-jojik-arrow-upper,
  .logo2-container {
    width: 50%;
    max-width: 50%;
  }

  .name {
    font-size: 20px;
  }
}

/* Responsive styles for iphone SE */
@media screen and (max-width: 375px) {
  .status-card-jojik-arrow {
    width: 30%;
  }
  .status-card-jojik{
    width: 30%;
  }

  .status-card-jojik-arrow-upper:not(:last-child)::before {
    width: 137.5%;
    transform: translateY(-300%);
  }
  
  .status-card-jojik-arrow-upper::after {
    height: 10px;
    transform: translateY(-10px);
  }

  .logo2-container {
    width: 30%;
    height: 50%;
  }

  .text-container {
    font-size: 10px;
  }

  .titles-jojik {
    font-size: 10px;
    letter-spacing: 0;
  }

  .status-id-text-container-jojik h6:first-child {
    height: 20px;  
    letter-spacing: 1px;
  }

  .id-photo-jojik {
    width: 18px;
    height: 30px;
  }

  
}
