.purpose-content-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: NanumBarunGothic,sans-serif;
    background-color: #fffcf8;
    padding: 10px;
    width: 100%;
    opacity: 0;
    animation: fadeIn 1.8s ease 0.8s forwards;
    overflow: hidden;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.purpose-content-container h2 {
    color: #ff7300;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    margin: 10px 0 10px 10px;
}

.purpose-list {
    width: 90%;
}

ul {
    list-style: none; 
}

.purpose-item-container {
    background-color: #fff;
    width: 100%;
    border: 1px solid #ff7300;
    border-radius: 5px;
    margin: 15px 0;
    padding: 14px 10px 14px 28px;
    position: relative;
    transition: .8s;
    cursor: pointer;
    transform: translateX(-30px);
    opacity: 0;
}

.class1 {
    animation: slideInAndFadeIn1 1.8s ease forwards .5s;
}

.class2 {
    animation: slideInAndFadeIn2 1.8s ease forwards .8s;
}

.class3 {
    animation: slideInAndFadeIn3 1.8s ease forwards 1.1s;
}

.class4 {
    animation: slideInAndFadeIn4 1.8s ease forwards 1.4s;
}

.class5 {
    animation: slideInAndFadeIn5 1.8s ease forwards 1.7s;
}

.class6 {
    animation: slideInAndFadeIn6 1.8s ease forwards 2s;
}

.class7 {
    animation: slideInAndFadeIn7 1.8s ease forwards 2.3s;
}

.class8 {
    animation: slideInAndFadeIn8 1.8s ease forwards 2.7s;
}

.class9 {
    animation: slideInAndFadeIn9 1.8s ease forwards 3s;
}

@keyframes slideInAndFadeIn1 {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInAndFadeIn2 {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInAndFadeIn3 {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInAndFadeIn4 {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInAndFadeIn5 {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInAndFadeIn6 {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInAndFadeIn7 {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInAndFadeIn8 {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInAndFadeIn9 {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.purpose-number {
    font-family: HSSaemaul-Regular,sans-serif;
    background-color: #ff7300;
    width: -moz-max-content;
    width: max-content;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: -10px;
    left: -10px;
    color: #000!important;
    font-size: 15px;
}

.purpose-content {
    font-size: 15px;
    word-break: keep-all;
    line-height: 17px;
    transition: transform 0.8s ease;
    margin: 5px 0;
}

.purpose-content:hover {
    transform: translateX(10px);
    animation: colorChange 0.8s forwards;
}

@keyframes colorChange {
    0% {
        color: initial;
    }
    100% {
        color: #ff7300;
    }
}