.status-result-container {
    margin-top: 0;
    font-family: SUIT-Medium,sans-serif;
    font-size: 17px;
    line-height: 20px;
    word-spacing: 2px;
}

.status-result-container h5 {
    margin-top: 8px;
    word-break: keep-all;
}

.status-container {
    display: flex;
    flex-wrap: wrap;
}

.status-position{
    font-size: 20px;
    margin-top: 30px;
    font-family: NanumBarunGothic,sans-serif;
    width: 100%;
    font-weight: 700;
}

.status-card {
    position: relative;
    width: 45%;
    height: 165px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,.05), inset -5px -5px 5px hsla(0,0%,100%,.5), 5px 5px 5px rgba(0,0,0,.05), -5px -5px 5px hsla(0,0%,100%,.5);
    border-radius: 15px;
    margin-top: 10px;
    margin-right: 25px;
}

.status-box {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #f7fcff;
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
    border-radius: 15px;
    transition: 1s;
    transition: transform 0.8s ease;
}

.status-box:hover {
    transform: translateY(-10px);
}

.status-content {
    display: flex;
}

.status-id-photo-container {
    width: 80px;
    height: 140px;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-id-photo {
    width: 92px;
    height: 115px;
    background-color: #fff;
    border: 0.5px solid #777;
    border-radius: 5px;
}

.id-photo {
    width: 92px;
    height: 115px;
    background-color: #fff;
    border: 0.5px solid #777;
    border-radius: 5px;
    object-fit: cover;
}

.status-id-text-container {
    height: inherit;
    padding-left: 10px;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.status-id-text-container h6 {
    font-size: 15px;
    color: #222;
    font-family: SUIT-Medium,sans-serif;
    letter-spacing: .2px;
    transition: .5s;
    line-height: 16px;
    font-weight: 700;
    width: 100%;
    margin: 2px 0;
}

/************* Media Query *************/

@media screen and (min-width: 320px) and (max-width: 480px) {
.status-result-container {
    margin-top: 10px;
    font-size: 13px;
    line-height: 14px;
    word-spacing: 1px;
}

.status-position{
    font-size: 15px;
    margin-top: 20px;
}

.status-card {
    width: 100%;
    height: 130px;
    margin-right: 0;
}

.status-content {
    height: 100%;
    display: flex;
}

.status-id-photo-container {
    width: 80px;
    height: inherit;
    margin: 0 0 0 15px;
}

.status-id-photo {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
}

.id-photo {
    width: 92px;
    height: 115px;
    object-fit: cover;
}

.status-id-text-container {
    padding-left: 15px;
}

.status-id-text-container h6 {
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 13px;
}
}

@media screen and (min-width: 481px) and (max-width: 1000px) {
    .status-result-container {
        margin-top: 20px;
        font-size: 16px;
        line-height: 18px;
        word-spacing: 1.5px;
    }
    
    .status-position{
        font-size: 17px;
        margin-top: 20px;
    }
    
    .status-card {
        width: 100%;
        height: 145px;
        margin-right: 0;
    }
    
    .status-content {
        height: 100%;
        display: flex;
    }
    
    .status-id-photo-container {
        width: 80px;
        height: inherit;
        margin: 0 0 0 15px;
    }
    
    .status-id-photo {
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        margin: 0;
        height: 100%;
    }
    
    .id-photo {
        width: 92px;
        height: 100%;
        object-fit: cover;
    }
    
    .status-id-text-container {
        padding-left: 25px;
    }
    
    .status-id-text-container h6 {
        font-size: 15px;
        letter-spacing: 2px;
        line-height: 15px;
    }
    }